* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
  background: bisque;
}

#front-page-title {
  text-align: center;
  border: 5px solid black;
  width: 300px;
  margin: 30px auto 0 auto;
  padding: 10px;
  background: white;
}

#big-title {
  text-align: center;
  border: 5px solid black;
  width: 600px;
  margin: 30px auto 0 auto;
  padding: 10px; 
  background: white;
}

#picture {
  display: block;
  margin: 10px auto 0 auto;
}

#button {
  border: 3px solid purple;
  font-weight: bold;
  font-size: 16px;
  margin: 20px 0 0 20px;
}

.title {
  text-align: center;
  border: 5px solid black;
  width: 250px;
  margin: 30px auto 0 auto;
  padding: 10px; 
  background: white;
}

.third_header {
  text-align: center;
  font-style: italic;
  margin-bottom: 15px
}

.fourth_header {
  text-align: center;
  font-style: italic;
  color: grey;
}

.description {
  text-align: center;
  font-style: italic;
  margin: 5px auto 0 auto;
}

ul {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
  list-style-position: inside;
}

ol {
  width: 700px;
  text-align: left;
  font-weight: bold;
  margin: 0 auto 50px auto; 
  list-style-position: inside;
  color: blue;
}

