* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
  background: bisque;
}

#title {
  text-align: center;
  border: 5px solid black;
  width: 250px;
  margin: 30px auto 0 auto;
  padding: 10px; 
}

.unordered_list {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}
